html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    line-height: 3.2rem;
}

body {
    font-size: 1.6rem;
    position: relative;
    overflow-x: hidden;
    background-color: transparent;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh; 
    height: 100vw;

    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;

    z-index: -1;

    background-color: #211e1e;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)),
        url('/Images/American_Flag.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company_logo {
    text-align: center;
}

.company_logo h1 {
    display: inline-block;
    font-size: 7rem;
    text-align: center;
    padding-top: 1rem;
    line-height: 4.6rem;
}

.nav_ul {
    display: flex;
    justify-content: center;
    gap: 12rem;
    list-style: none;
    text-decoration: none;
}

.nav_ul li {
    padding-top: 8rem;
}

.nav_ul li a {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}

.header_photos {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    gap: 12rem;
}

.header_photos img {
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 95%);
    mask-image: radial-gradient(circle, black 50%, transparent 70%);
}

.header_text ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 38rem;
    text-decoration: none;
    list-style: none;
    margin-right: 3rem;
}

.section_1, .section_2, .section_3 {
    max-width: 75%;
    text-align: center;
    margin: 30rem auto;
    font-size: 2.6rem;
}

.section_1 h2, .section_2 h2 {
    margin-bottom: 3.2rem;
}

.section_2 ul {
    font-size: 2rem;
    margin-top: 1.6rem;
    text-align: left;
    line-height: 3.2rem;
}

.hr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.main_hr {
    width: 80%;
    margin: 0 auto;
}

.secondary_hr {
    width: 40%;
    margin: 0 auto;
}

.founder_quote_title {
    font-size: 1.8rem;
    margin-top: 12rem;
}

.founder_quote_p {
    font-size: 1.6rem;
    margin-top: -2rem;
}

h1, h2, h3, h4, .founder_quote_title {
    display: inline-block;
    background: linear-gradient(to right, #ff0000, #ffffff, #0000ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.popular_products {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12rem;
    text-align: left;
}

.product_container:nth-child(even) img {
    grid-column: 2;
}

.product_container:nth-child(even) .product_text {
    grid-column: 1;
    grid-row: 1; 
}

.product_container img {
    width: 100%;
    max-width: 50rem;
    height: auto;
    justify-self: center;
    width: 100%;
    max-width: 50rem;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.3));
}

.product_text h3 {
    font-size: 3.8rem;
    margin-bottom: 1rem;
    color: white;
}

.product_text p {
    font-size: 2.2rem;
    line-height: 2.8rem;
}

footer {
    height: 22rem; 
    background: linear-gradient(to bottom, 
        transparent 0%, 
        #161616 25%, 
        #070707 100%);

    margin-top: -15rem; 
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer div {
    font-size: 2rem;
    margin-top: 2rem;
}

.footer_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

footer div ul {
    list-style: none;
}

footer div ul a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}

.footer_col_1 {
    text-align: center;
}

.footer_col_1 p {
    font-size: 1.4rem;
}